@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
body{
    font-family: "Mukta", sans-serif;
    margin: 0px;
    padding: 0px;
}
#main{
    height: 100vh;
    width: 100vw;
    background:url("https://plus.unsplash.com/premium_vector-1682303174219-9018338d4b5d?q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:soft-light ;
}
#navbar #logo{
    margin-left: 20px;
}
#nav{
    height: 15vh;
    width: 100vw;
}
#navbar{
    display: flex;    
    width: 100%;
    height: 100px;
    color: antiquewhite;
}
#navbar ul{
    padding-left: 15px;
    width: 40%;
    margin-left: 190px;
    display: flex;
    justify-content: space-around;
}
#navbar ul a  {
    margin-top: 25px;
    color: black;
    text-decoration: none;
    display: inline;
}
#navbar ul a:hover{

    background-color: black;
    border: 10px  rgb(98, 98, 251);
    border-radius: 10px;
    color: white;
}
#navbar ul a li{
    /* margin-left: 30px; */
    display: block;
    position:relative;
    padding: 5px 20px;
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
}
#navbar #btn{
    background-color: black;
    color: white;
    border-radius:25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height:50px;
    width:100px;
    font-weight: 200;
    font-size: medium;
    margin-left: 200px;
    margin-top: 30px;
}
#plot {
    /* background-color: black; */
    width: 40vw;
    height: 40vh;
    margin-left: 110px;
    margin-top: 40px;
    font-size: 30px;
    color: rgb(9, 19, 139);
}
#plot h1 {
    margin: 0; 
}
#plot1{
    /* background-color: black; */
    width: 40vw;
    height: 20vh;
    margin-top: 20px;
    margin-left: 110px;
    color: rgb(90, 89, 89);
}

#boton{
    margin-top: 20px;
    margin-left: 110px;
    color: white;
    font-weight: 500;
    background-color: rgb(88, 101, 253);
    padding: 10px 40px;
    border-radius: 5px;
}




