
#home1{
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
}
#icons{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 150px;
    background-color: white;
}
.icn{
    height: 100px;
    width: 150px;
    margin-top: 25px;
    padding: 10px;
}
#cape{
    width: 200px;
}
#home-main{
    display: flex;
}
#home-c{
    /* background-color: black; */
    width: 50vw;
    height: 80vh;
}
#plot {
    /* background-color: black; */
    width: 40vw;
    height: 40vh;
    margin-left: 110px;
    margin-top: 40px;
    font-size: 30px;
    color: rgb(9, 19, 139);
}
#plot h1 {
    margin: 0; 
}
#home-img{
    /* background-color: yellow; */
    width: 50vw;
    height: 80vh;
}
#ladki{
    margin-left:60px;
    margin-top: 50px;

    height: 500px;
}